.pytest_cache
.env
test_results
tests/.pytest_cache
tests/test.py
tests/__pycache__
.idea
!logs
logs/*.log
app/__pycache__
!reports
reports/*.txt
reposrts/*.png
reports/*.json
reports/*.attach
.pytest_cache
.idea
*.iml
.env
report
allure-results